<div class="page-title">
  <h1>Vérifiez vos informations et complétez si nécessaire !</h1>
  <p>
    À la validation de ces étapes vous allez pouvoir télécharger vos statuts
    provisoires qui vous permettront d’ouvrir votre compte capital.
  </p>
  <p>
    <b>Important :</b> Vérifiez bien toutes les informations avant de valider
    cette étape car vous ne pourrez pas revenir les modifier par la suite.
  </p>
</div>
<div class="tile-wrapper">
  <tile
    ng-repeat="tile in ctrl.tiles"
    tile="tile"
    ng-style="{'border-color': tile.color}"
    ng-class="tile.disabled && 'disabled'"
  ></tile>
</div>
<div class="notification">
  <img src="assets/img/error.svg" />
  <div class="notification-text">
    Vous devez remplir chaque case et vérifier vos informations. Vous avez
    encore des informations manquantes dans les case en rouge.
  </div>
</div>
<div class="actions">
  <button class="btn-primary grey">Retour</button>
  <button class="btn-primary light-blue">Suivant</button>
</div>
<div class="mentions">
  <p>Mentions légales</p>
  <span
    >Les données collectées sont traitées par BETAO AB, Editeur du Site
    <a href="https://www.simplitoo.fr">www.simplitoo.fr</a>
    et responsable de traitement, afin de vous fournir le service commandé. Les
    champs avec un astérisque sont obligatoires. En application de la loi du 6
    janvier 1978 modifiée, dite « Informatique et Libertés », et du Règlement
    général de protection des données du 27 avril 2016, vous disposez d’un droit
    d’accès, de rectification, d’opposition, de limitation, d’effacement et de
    portabilité de vos données personnelles, que vous pouvez exercer par
    courrier électronique adressé à
    <a href="mailto:contact@betao.se">contact@betao.se</a> . Pour plus
    d’information, vous pouvez consulter notre
    <a href="#">politique de confidentialité</a>.
  </span>
</div>
